<div class="index-outer col-md-12 text-center">
  <h1>Welcome to the Bog App</h1>
  <p id="bog-p">Your one stop shop for creepy creatures who lurk beneath...</p>
  <h4><%= link_to "Get started", new_creature_path %></h4>
</div>

<!-- creatures_new_path -->